<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @equipment.place %>
</p>

<p>
  <strong>Level:</strong>
  <%= @equipment.level %>
</p>

<p>
  <strong>Item level:</strong>
  <%= @equipment.item_level %>
</p>

<p>
  <strong>Race:</strong>
  <%= @equipment.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @equipment.sex %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
