<h2>ログイン</h2>
<div id="login_form_container">
    <%= form_for(:login, remote: false) do |f| %>
        <%= f.label :account_id, "ユーザID" %>
        <%= f.text_field  :account_id, class: '', placeholder: "ユーザID" %>
        
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: '', placeholder: "パスワード" %>

        <%= f.submit "ログイン", class: "btn brn-primary" %>
    <% end %>
    <a href="/accounts/new">新規登録</a>
</div>