<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <% if logged_in? %>
        <%= render "commons/header_logged_in" %>
      <% else %>
        <%= render "commons/header" %>
      <% end %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render "commons/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
